---
layout: default
title: Home
---

{% for post in paginator.posts %}

	<div class="row flex-nowrap justify-content-between align-items-center">
		<div class="col-2">
		</div>
		<div class="col-8">
			<div style="margin-bottom: 64px;">
				<h2><a href="{{ post.url  | relative_url }}">{{ post.title }}</a></h2>
				<p>
			<span>
				<i class="fa fa-calendar" aria-hidden="true"></i>
				<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
			</span>
				</p>

				{% if post.description %}
				{{post.description | strip_html}}
				{% else %}
				{{ post.content | strip_html | truncatewords:50 }}
				{% endif %}

				<div>
					<a href="{{ post.url | relative_url }}">Continue reading...</a>
				</div>
			</div>
		</div>
		<div class="col-2">

		</div>
	</div>



	
{% endfor %}

<nav style="margin-bottom: 64px;">
	{% if paginator.total_pages > 1 %}
		{% if paginator.next_page %}					
			<a class="btn btn-outline-primary" href="{{ paginator.next_page_path | relative_url }}">Older</a>
		{% endif %}
		{% if paginator.previous_page %}
			<a class="btn btn-outline-primary" href="{{ paginator.previous_page_path | relative_url }}">Newer</a>
		{% endif %}
	{% endif %}
</nav> 